<head>
    <meta charset="UTF-8">
</head>
<table style="width: 630px;" border="0" cellpadding="2" style="font-family:TH SarabunPSK; font-size:22px;">
    <tr>
        <td bgcolor="#0B610B">
            <table style="width: 630px;" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td><img src="=LOGO1=" style="height: 100px;" /></td>
                    <td><img src="=LOGO2=" style="height: 100px;" /></td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF" colspan="2">
                        <table width="100%" border="0" cellpadding="3" style="font-family:TH SarabunPSK; font-size:20px;">
                            <tr>
                                <td><strong>ถึง&nbsp;:&nbsp;</strong>คุณ&nbsp;=STUDENTNAME=&nbsp;=STUDENTSURNAME=</td>
                            </tr>                            
                            <tr>
                                <td><strong>รหัสนักศึกษา&nbsp;:&nbsp;</strong>=STUDENTCODE=</td>
                            </tr>
                            <tr>
                                <td><strong>วันที่ส่ง&nbsp;:&nbsp;</strong>=DATESEND=</td>
                            </tr>
                            <tr>
                                <td><strong>เรื่อง&nbsp;:&nbsp;</strong>=ALERTTITLE=</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=ALERTMESSAGELINE1=</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=ALERTMESSAGELINE2=</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=ALERTFOOTER=</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br>
<table style="width: 630px;" border="0" cellpadding="2" style="font-family:TH SarabunPSK; font-size:22px;">
    <tr>
        <td bgcolor="#0B610B">
            <table style="width: 630px;" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td><img src="=LOGO1=" style="height: 100px;" /></td>
                    <td><img src="=LOGO2=" style="height: 100px;" /></td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF" colspan="2">
                        <table width="100%" border="0" cellpadding="3" style="font-family:TH SarabunPSK; font-size:20px;">
                            <tr>
                                <td><strong>To&nbsp;:&nbsp;</strong>=STUDENTNAMEENG=&nbsp;=STUDENTSURNAMEENG=</td>
                            </tr>                         
                            <tr>
                                <td><strong>Student ID&nbsp;:&nbsp;</strong>=STUDENTCODE=</td>
                            </tr>
                            <tr>
                                <td><strong>Date&nbsp;:&nbsp;</strong>=DATESEND=</td>
                            </tr>
                            <tr>
                                <td><strong>Subject&nbsp;:&nbsp;</strong>=ALERTTITLEENG=</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=ALERTMESSAGEENGLINE1=</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=ALERTMESSAGEENGLINE2=</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;=ALERTFOOTERENG=</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
